[Desktop Entry]
Name=STDOUT Plasmoid
Comment=Displays output of executed process
Icon=icon.png
 
Type=Service
X-KDE-ServiceTypes=Plasma/Applet
 
X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js
X-Plasma-DefaultSize=200,80
X-Plasma-RequiredExtensions=LocalIO,LaunchApp
 
X-KDE-PluginInfo-Author=Vladislav Navrocky
X-KDE-PluginInfo-Email=navrocky.vlad@gmail.com
X-KDE-PluginInfo-Name=stdout-plasmoid
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=true
